@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --dark: #0b0d17;
  --light: #d0d6f9;
}

@theme inline {
  --color-dark: var(--dark);
  --color-light: var(--light);
  --font-bellefair: var(--bellefair);
  --font-condensed: var(--barlow-condensed);
  --font-barlow: var(--barlow);
}

@layer base {
  body {
    @apply bg-dark text-light min-h-screen bg-cover bg-fixed bg-center bg-no-repeat;
  }
}

@utility heading-1 {
  @apply font-bellefair text-[80px] leading-none text-white uppercase sm:text-[144px];
}

@utility heading-2 {
  @apply font-bellefair text-[56px] text-white uppercase sm:text-[80px] md:text-[96px];
}

@utility heading-3 {
  @apply font-bellefair text-[24px] text-white uppercase sm:text-[40px] md:text-[56px];
}

@utility heading-4 {
  @apply font-bellefair text-[18px] text-white uppercase sm:text-[24px] md:text-[32px];
}

@utility heading-5 {
  @apply font-bellefair text-[16px] text-white uppercase md:text-[28px];
}

@utility condensed-1 {
  @apply text-light font-condensed text-[20px] tracking-[4px] uppercase md:text-[28px];
}

@utility condensed-2 {
  @apply font-condensed text-sm tracking-[2px] text-white uppercase;
}

@utility condensed-3 {
  @apply font-condensed text-sm tracking-[2px] text-white uppercase md:text-base;
}

@utility paragraph {
  @apply font-barlow text-light text-[15px] leading-[180%] sm:text-base md:text-lg;
}

@utility center {
  @apply flex items-center justify-center;
}

.bg-blur {
  background: rgba(11, 13, 23, 0.15);
  backdrop-filter: blur(40px);
}

/* Background images for different routes */
.bg-home {
  @apply bg-cover bg-center bg-no-repeat;
  @apply bg-[url('/assets/home/background-home-mobile.jpg')];
  @apply sm:bg-[url('/assets/home/background-home-tablet.jpg')];
  @apply md:bg-[url('/assets/home/background-home-desktop.jpg')];
}

.bg-destination {
  @apply bg-cover bg-center bg-no-repeat;
  @apply bg-[url('/assets/destination/background-destination-mobile.jpg')];
  @apply sm:bg-[url('/assets/destination/background-destination-tablet.jpg')];
  @apply md:bg-[url('/assets/destination/background-destination-desktop.jpg')];
}

.bg-crew {
  @apply bg-cover bg-center bg-no-repeat;
  @apply bg-[url('/assets/crew/background-crew-mobile.jpg')];
  @apply sm:bg-[url('/assets/crew/background-crew-tablet.jpg')];
  @apply md:bg-[url('/assets/crew/background-crew-desktop.jpg')];
}

.bg-technology {
  @apply bg-cover bg-center bg-no-repeat;
  @apply bg-[url('/assets/technology/background-technology-mobile.jpg')];
  @apply sm:bg-[url('/assets/technology/background-technology-tablet.jpg')];
  @apply md:bg-[url('/assets/technology/background-technology-desktop.jpg')];
}
